<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karam.demo1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".splash_layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_layout" />
        <activity android:name=".home_layout" />
        <activity android:name=".sign_up_layout" />
        <activity android:name=".verify_layout" />
        <activity android:name=".Signup_details" />
        <activity android:name=".profile_edit_layout" />
        <activity android:name=".all_group"></activity>
    </application>

</manifest>